.SellProduct__wrapper{
  width: 75%;
  margin: 0 auto;
  background-color: #FFFBFE;
  border: 1px solid gray;
  border-radius: 8px;
}

.SellProduct__field{
  display: flex;
  justify-content: center;
  padding: 15px;
}

.SellProduct__submit{
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 25px;
}

.SellProduct__label {
  display: inline-block;
  width: 140px;
  text-align: right;
}

.SellProduct__textarea {
  resize: none;
}
