.ProductDetail__container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  background-color: #FFFBFE;
  position: relative;
  z-index: 1;
  border-radius: 8px;
}

.Reviews__title {
  margin-left: 15px;
}

.ProductDetail__deleteButton {
  position: absolute;
  top: 5px;
  right: 15px;
}

.ProductDetail__editButton {
  position: absolute;
  top: 5px;
  right: 75px;
}

.ProductDetail__postedOn {
  color: dimgrey;
}

.ProductDetail__details-container {
  display: flex;
}

.ProductDetail__image-wrapper {
  width: 300px;
}

.ProductDetail__image {
  flex: 1;
  margin: 10px;
  background-size: cover;
  width: 100%;
}

.ProductDetail__info-container {
  flex: 1;
  padding: 10px;
  margin: 10px;
}

.ProductDetail__review-container {
  flex: 1;
  margin: 10px;
}

.ProductDetail__review-container .Review__wrapper {
  border: 1px solid lightgray;
}

.ProductDetail__info-heading {
  display: flex;
  justify-content: space-between;
}

.productDetail__name {
  flex: 2;
  margin-top: 0;
  margin-bottom: 0;
}

.productDetail__price {
  flex: 1;
  text-align: right;
  color: dimgray;
  margin-top: 0;
  margin-bottom: 0;
}

.ProductDetail__seller-link {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid #9198e5;
  transition: all .3s;
}

.ProductDetail__seller-link:hover {
  border-bottom: 2px solid #e66465;
}
