.Product {
  background-color: #FFFBFE;
  width: 220px;
  margin: 5px 1% 10px;
  box-shadow: 2px 2px 6px rgba(0,0,0,.8);
  border-radius: 8px;
  overflow: hidden;
}

.Product__image {
  width: 100%;
  display: none;
}

.Product__img-wrapper {
  overflow: hidden;
  width: 95%;
  margin: 5px;
  border-radius: 5px;
  height: 170px;
  background-size: cover;
  background-position: center center;
}

.Product__info-wrapper {
  display: flex;
  flex-flow: row nowrap;
  padding: 3px 5px;
  width: 100%;
  height: 75px;
  overflow: hidden;
  align-items: center;
}

.Product__info-wrapper a {
  text-decoration: none;
  color: black;
}

.Product__info-wrapper h4 {
  margin: 0;
}

.Product__price-wrapper {
  flex-basis: 20%;
  text-align: right;
  text-decoration: none;
  color: black;
}

.Product__name-wrapper {
  flex-basis: 80%;
  text-align: left;
  padding-left: 2px;
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
}
