.ProductsList {
  width: 100%;
}

.ProductsList__list {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start; 
}

.ProductsList__heading {
  margin: 0;
}

.ProductsList__top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}