.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #727072;
  box-shadow: 0 2px 4px rgba(0,0,0,.8);
  color: white;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.Header__logo {
  margin: 0;
}

.Header__nav {
  list-style: none;
  padding: 0;
}

.Header__nav-item {
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 15px;
}

.Header__nav-link {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid transparent;
  transition: all .3s;
  cursor: pointer;
}

.Header__nav-link:hover {
  border-bottom: 1px solid black;
}