footer {
  position: fixed;
  padding: 3px 10px 3px 3px;
  border-radius: 12px 0 0 0;
  bottom: 0;
  right: -210px;
  width: 240px;
  background-color: #FFFBFE;
  font-size: 1.5rem;
  line-height: 1em;
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px rgba(0,0,0,0);
  transition: all .3s;
  z-index: 20;
}

.footer--visible {
  box-shadow: 0 0 5px 2px rgba(0,0,0,.7);
  right: 0;
}

.footer__content {
  text-align: right;
  font-size: 1rem;
  display: inline-block;
  margin:0;
  line-height: 1em;
  width: 200px;
  overflow: hidden;
  height: 1rem;
  transition: all .5s;
}

.footer__content a {
  color: black;
  text-decoration: none;
}