.UserProfile {
  position: relative;
}

.UserProfile__top-line {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
}

.UserProfile__page-title {
  display: inline-block;
  margin: 0 15px 0 0;
}

.UserProfile__date {
  margin: 0;
}

.UserProfile__content {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.UserProfile__section-heading {
  margin: 0 0 15px;
}

.UserProfile__products, .UserProfile__reviews{
  margin: 5px;
  min-width: 200px;
  max-width: 480px;
  flex-basis: 50%;
}

.UserProfile__reviews {
  flex-grow: 2;
}